@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  @font-face {
    font-family: "pinar";
    font-weight: normal;
    src: url("fonts/pinar/Pinar-Regular.ttf") format('truetype');
    src: url("fonts/pinar/Pinar-Regular.woff2") format('woff2');
  }
}
@layer base{
  @font-face {
    font-family: "pinarB";
    font-weight: bold;
    src: url("fonts/pinar/Pinar-Bold.ttf") format('truetype');
    src: url("fonts/pinar/Pinar-Bold.woff2") format('woff2');
  }
}